<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IService_pra">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8336/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService_pra" contract="Service_pra.IService_pra"
                name="NetTcpBinding_IService_pra">
                <identity>
                    <userPrincipalName value="LAPTOP-02RVNQ5D\А" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>